<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ing.unipi.it.simpleaccelerationmonitoringtool" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ToolsActivity"
            android:label="@string/title_activity_tools" >
        </activity>
        <activity
            android:name=".SensorDataLoggerSettings"
            android:label="@string/title_activity_sensor_data_logger_settings" >
        </activity>
        <activity
            android:name=".GaitRecognitionSettings"
            android:label="@string/title_activity_gait_recognition_settings" >
        </activity>

        <service
            android:name=".AccelerationSamplingService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
